/*
Project Name: Ayana Christie Image Strategy 
Client: Your Client
Author: Ayanac
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
html{
  height: 100%;
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 167, 153, 0.7);
  color: #6a6a6a;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}
h2{
  font-family: 'Asul', sans-serif;
  color:black;

}
a {
  text-decoration: none;
}
h2:hover{
  color:white;
  transition: .5s;
}
.sectiondivider{
  border: none;
  height: 1px;
  background-color: grey;
  margin: 10px;
  width:96%; 
  clear: both;
}

p{ 
  font-size: 14px;
  }

p::before {
   content: "";
   height:3px;
   width: ;
}


/******************************************
/* LAYOUT
/*******************************************/
.home{
  background-image: url(../images/ayanaaug16.jpg);
  background-position: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  display:block;
  line-height:1; 
  height:100vh;
  margin:auto;
  padding: 30px 30px 30px 0;
  padding-top:45  px;
  width:100%;
}
.menu-copy{
  float:right;
  margin:30px;
}

.menuitem{
  margin:50px;
  color: #6a6a6a;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.logocontainer{ 
  background-color: rgba(255, 255, 255, 0.7);
  display:block;
  height: 100spx;
  padding-left: 40%;
  width:100%;
 }

 .logohome{
  display: block;
  padding:auto;

 }
.sectiontitle{
  clear:both;
  height: 70px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

.ISGbackground{
 background-color:rgba(255, 255, 255, 0.7);
 width:60%;
 height: auto;
 margin-top:20px;
 padding:5px;
 text-align: center;
}

.ISG{
  height: auto;
  margin-top:80px;
  margin: 0 auto;
  object-fit: contain;
  opacity: 0.77;
  text-align: center;
  width: 100%;
  border   : 1px #ff8b78;
  position : relative;
}
.aboutmetext{
  background-color:rgba(255, 255, 255, 0.7);
  color: black;
  display:block;
  height:auto;
  line-height:1.4;
  margin:15px 0;
  padding: 5px;
  object-fit: contain;
  overflow-wrap: normal;
  text-align: center;
  width: 60%;
  display:none;
}

.mainblog{
  clear:both;
  display:block;
  height: 100vh;
  text-align:center;
  width: 100%;
}
.blogmenu{
  display: block;
  height: 20px;
  list-style: none;
  width:90%;
  margin: 10px;
}
li{ 
float: left; 
font-size: 16px;
margin: 0 1%;
text-decoration: none;
width: 28%
}

.articlebox{
  background-position: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  height:33vh;
  float: left;
  margin:auto;
  margin-bottom:10px;
  padding: 30px;
  text-align: center;
  width: 48%;
}
.titledsp{
  float:left;
}
.purgebox{
  background-image:url(../images/purge.jpeg);
}
.principlesbox{
background-image:url(../images/principles.jpeg);
}

.changeyourlife{
  background-image:url(../images/change.jpeg);
}
.articleimage{
  width:100%;
  height:220px;
  padding:1%;
  text-align: center;
}

.articletitle{
  color: #6a6a6a;
  float:left;
  font-size:18px;
  font-weight: 400;
  margin:0 1%;
  padding-top: 40px;
  width:48%;
 
}
.subtitle{
  color: #6a6a6a;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
/* SOCIAL MEDIA TAGS*/
.social-post{
  padding-top: 20px;
  text-align: center;
  margin: auto;
  padding-left:65px;
  width:
}
.social-slide {
  background-image: url('../images/facebook-hover.png');
  background-size: cover;
  background-position:top;
  height: 25px;
  width: 25px;
  margin: 1px;
  float: left;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.social-slide:hover {
  background-position: 0px -48px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);

}
.twitter-hover {
    background-image: url('../images/twitter-hover.png');
}

.pinterest-hover {
    background-image: url('../images/pinterest-hover.png');
}

.facebook-hover {
    background-image: url('../images/facebook-hover.png');
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(255, 167, 153, 0.38);
  text-align: center;
}
/* TABLET */
@media screen and (min-width: 480px) and (max-width: 768px) {
 .home{
    background-image: url(../images/ayanaaug16.jpg);
    background-position: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
    line-height:1; 
    height:100vh;
    margin:auto;
    padding: 30px;
    padding-top:45px;
    width:100%;
  }

  .sectiontitle{ 
    font-size: 30px;
    }

  li{
    font-size:24px;
  }
  .articletitle{
  }

  .ISGbackground{
   background-color:rgba(255, 255, 255, 0.7);
   display: block;
   margin-left:40px;
   width:40%;
   height: auto;
   padding:10px;
  }
  .ISG{
    margin-top:10px;
    padding: 20px;
  }
  .aboutmetext{
    height: auto;
    line-height:1.4;
    margin-top: 10px;
    margin-left:40px;
    object-fit: contain;
    overflow-wrap: normal;
    width: 40%;
  }
  .sectiontitle{ 
    font-size: 30px;
    }
  li{
    font-size:24px;
  }
  .articletitle{
    font-size:20px;
  }
  .subtitle{
    font-size:18px;
  }
  .socialslide{
    height: 35px;
    width: 35px;
    margin: 5px;
  }
  .social-post{
    padding-left: 145px;
  }
  .subtitle{
    font-size:18px;
  }
  .socialslide{
    height: 35px;
    width: 35px;
    margin: 5px;
  }
  .social-post{
    padding-left: 145px;
  }
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .home{
    background-image: url(../images/ayanaaug16.jpg);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
    line-height:1; 
    height:100vh;
    margin:auto;
    padding: 30px;
    padding-top:45px;
    width:100%;
  }
  .logocontainer{
    padding-left: 46%;
  }
  .mainblog{
    background-color: rgba(255, 167, 153, 0.7);
    height: 130vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.menu-copy{
  float:right;
  margin:30px;
}

.menuitem{
  margin:30px;
  color: #6a6a6a;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
body{
  background-color:white;
}

  .ISGbackground{
   background-color:rgba(255, 255, 255, 0.7);
   display: block;
   margin-left:40px;
   max-width:33%;
   height: auto;
  }
  .ISG{
    margin-top:10px;
  }
  .aboutmetext{
    height: auto;
    line-height:1.4;
    margin-top: 10px;
    margin-left:40px;
    object-fit: contain;
    overflow-wrap: normal;
    width: 33%;
  }
  .sectiontitle{ 
    font-size: 30px;
    }
  li{
    font-size:24px;
  }
  .articletitle{
    font-size:20px;
  }
  .subtitle{
    font-size:18px;
  }
  .socialslide{
    height: 35px;
    width: 35px;
    margin: 5px;
  }
  .social-post{
    padding-left: 120px;
  }

}

/******************************************
/* TEXT STYLES
/*******************************************/
.tagline{
  font-weight: 400;
  font-size: 14px;
}
p{ 
  font-size: 14px;
  }
 /******************************************
}
/* ADDITIONAL STYLES
/*******************************************/

.homeheadshot{
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}

